img{
    max-width: 100%;
    height: auto;
    background-color: rgb(173, 149, 105);
    background:radial-gradient(white 30%,rgb(173, 149, 105) 70% );
}

.fa-star,.fa-star-half{
    color: yellowgreen;
    padding: 3% 0%;
}